<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crrn.tfdor.dao.WeChantDao">
	<!-- 插入AccessToken表 -->
	<insert id="iAccessToken" parameterType="java.util.HashMap">
		INSERT INTO AccessToken(accessToken,invalidTime,createTime,updateTime) VALUES(#{accessToken},#{invalidTime},now(),now())
	</insert>
   	<!-- 删除过期的accesstoken -->
   	<delete id="dAccessToken">
   		DELETE FROM AccessToken
   	</delete>
   	<select id="qAccessToken" resultType="java.util.HashMap">
   		SELECT tokenSeq,accessToken,invalidTime,createTime,updateTime from AccessToken
   	</select>
	<select id="iQrcodeimg" parameterType="java.util.HashMap">
		INSERT INTO qrcodeimg (actionName, appId, sceneId, ticket, url, qrcodeName, state, preservation,createTime, updateTime)
		VALUES (#{action_name},#{appId}, #{scene_id}, #{ticket}, #{url}, #{Name}, 'I',#{preservation}, now(), now())
	</select>
	<select id="qQrcodeimg" resultType="com.crrn.tfdor.domain.wechat.QrcodeImg">
		SELECT actionName,appId,createTime,preservation,qrcodeName,qrcodeSeq,sceneId,state,ticket,updateTime,url FROM qrcodeimg
	</select>
</mapper>
