<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crrn.tfdor.dao.WeChantDao">
	<!-- 插入AccessToken表 -->
	<insert id="iAccessToken" parameterType="java.util.HashMap">
		INSERT INTO AccessToken(accessToken,mchId,invalidTime,createTime,updateTime) VALUES(#{accessToken},#{mchId},#{invalidTime},now(),now())
	</insert>
	<!-- 删除过期的accesstoken -->
	<delete id="dAccessToken" parameterType="java.lang.String">
		DELETE FROM AccessToken where mchId = #{mchId}
	</delete>
	<select id="qAccessToken" resultType="java.util.HashMap" parameterType="java.lang.String">
		SELECT tokenSeq,accessToken,invalidTime,a.createTime,a.updateTime from AccessToken a,Merchant m
		where m.mchId = a.mchId and m.appId = #{appId}
	</select>
	<select id="iQrcodeimg" parameterType="java.util.HashMap">
		INSERT INTO qrcodeimg (CreateQISeq, mchId, sceneStr, ticket, url, qrcodeName, state, createTime, updateTime)
		VALUES (#{createQISeq},#{mchId}, #{sceneStr}, #{ticket}, #{url}, #{qrcodeName}, 'I', now(), now())
	</select>
	<select id="qQrcodeimg" resultType="com.crrn.tfdor.domain.wechat.QrcodeImg" parameterType="java.lang.String">
		SELECT * FROM qrcodeimg where CreateQISeq = #{createQISeq}
		<if test="state != null and state != ''">
			AND state = #{state}
		</if>
	</select>

	<update id="uQrcodeImg" parameterType="java.util.HashMap">
		UPDATE qrcodeimg
		SET state = #{state},
			updateTime = now(),
			openId = #{FromUserName},
			orderId = #{orderId},
			transjnl = #{transjnl}
		WHERE sceneStr = #{sceneStr}
	</update>
	<select id="qChannel" resultType="com.crrn.tfdor.domain.manage.Channel" parameterType="java.lang.String">
		select * from channel where channelId = #{channelId}
	</select>

	<select id="queryRedPack" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT redPackSeq, redPackType, amountType, totalAmount, wishing, actName, remark,
		DATE_FORMAT(r.createTime, '%Y-%m-%d %H:%i:%s') createTime,
		DATE_FORMAT(r.updateTime, '%Y-%m-%d %H:%i:%s') updateTime,
		c.channelName,c.channelId,m.mchName,r.state
		FROM redpack r,merchant m,channel c  WHERE m.mchId = r.mchId and c.channelId = m.channelId
		<if test="channelId != null and channelId != ''">
			and m.channelId = #{channelId}
		</if>
	</select>
	<select id="queryRedPackByMchId" parameterType="java.lang.String" resultType="com.crrn.tfdor.domain.wechat.RedPackBean">
		SELECT * FROM redpack where mchId = #{mchId}
	</select>

	<select id="qCreateQrcodeImg" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select cl.channelId,cl.channelName,c.createQISeq,c.mchId,c.beginDate,c.actionName,c.endDate,c.number,
		c.preservation,DATE_FORMAT(c.createTime,'%Y-%m-%d %H:%i:%s') createTime,DATE_FORMAT(c.updateTime,'%Y-%m-%d %H:%i:%s') updateTime,m.mchName,c.state,c.expireSeconds
		from CreateQrcodeImg c,Merchant m,channel cl  WHERE m.mchId = c.mchId and m.channelId = cl.channelId
		<if test="channelId != null and channelId != ''">
			AND cl.channelId = #{channelId}
		</if>
		<if test="beginDate != null and beginDate != ''">
			AND DATE_FORMAT(beginDate,'%Y-%m-%d') <![CDATA[>=]]> #{beginDate}
		</if>
		<if test="endDate != null and endDate != ''">
			AND DATE_FORMAT(endDate,'%Y-%m-%d') <![CDATA[<=]]> #{endDate}
		</if>
		ORDER BY c.createTime DESC
	</select>

	<insert id="iCreateQrcodeImage" parameterType="com.crrn.tfdor.domain.wechat.CreateQrcodeImg" keyProperty="createQISeq"  useGeneratedKeys="true">
		INSERT INTO createqrcodeimg (mchId, beginDate, actionName, endDate, expireSeconds, number, preservation, state, createTime, updateTime)
		VALUES (#{mchId}, #{beginDate}, #{actionName}, #{endDate}, #{expireSeconds}, #{number}, #{preservation}, #{state}, now(), now());
	</insert>

	<select id="qQrcodeimgBysCeneStr" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select str_to_date(c.beginDate,'%Y-%m-%d %H:%i:%s') beginDate,
		str_to_date(c.endDate,'%Y-%m-%d %H:%i:%s') endDate,q.sceneStr,q.state qState,c.state cState
		from Qrcodeimg q,createqrcodeimg c where c.CreateQISeq = q.CreateQISeq AND sceneStr = #{sceneStr}
		<if test="state != null and state != ''">
			AND q.state = #{state}
		</if>
		ORDER BY q.CREATETIME DESC
	</select>

	<update id="modifyCreateQrcodeImage" parameterType="com.crrn.tfdor.domain.wechat.CreateQrcodeImg">
		UPDATE createqrcodeimg SET endDate = #{endDate},state = #{state} WHERE CreateQISeq = #{createQISeq}
	</update>

	<select id="qMerchant" parameterType="java.lang.String" resultType="com.crrn.tfdor.domain.manage.Merchant">
		select * FROM merchant where appId = #{appId} ORDER BY CREATETIME DESC
	</select>

	<update id="modifyRedPack" parameterType="java.util.HashMap">
		update RedPack SET redPackType = #{redPackType},amountType = #{amountType},
		totalAmount = #{totalAmount},wishing = #{wishing},actName = #{actName},remark = #{remark},updateTime = now(),state = #{state}
		WHERE redPackSeq = #{redPackSeq}
	</update>

	<insert id="addRedPack" parameterType="java.util.HashMap">
		INSERT INTO redpack (redPackType,mchId,amountType,totalAmount,wishing,actName,remark,state,updateTime,createTime)
		VALUES (#{redPackType},#{mchId},#{amountType},#{totalAmount},#{wishing},#{actName},#{remark},#{state},now(),now())
	</insert>
</mapper>
