/**页面谈框错误提示样式**/
a,img {
	border: 0;
}
#pop {
	background: #fff;
	width: 260px;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: none;
}

#popHead {
	line-height: 32px;
	background: #f6f0f3;
	border-bottom: 1px solid #e0e0e0;
	position: relative;
	font-size: 12px;
	padding: 0 0 0 10px;
}

#popHead span {
	font-size: 14px;
	color: #666;
	line-height: 32px;
	height: 32px;
}

#popHead #popClose {
	position: absolute;
	right: 10px;
	top: 1px;
	color: red;
}

#popHead a#popClose:hover {
	color: #f00;
	cursor: pointer;
}

#popContent {
	padding: 5px 10px;
}

#popTitle a {
	line-height: 24px;
	font-size: 14px;
	font-family: '微软雅黑';
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

#popTitle a:hover {
	color: #f60;
}

#popIntro {
	text-indent: 24px;
	line-height: 160%;
	margin: 5px 0;
	color: red;
}

#popMore {
	text-align: right;
	border-top: 1px dotted #ccc;
	line-height: 24px;
	margin: 8px 0 0 0;
}

#popMore a {
	color: #f60;
}

#popMore a:hover {
	color: #f00;
}

/**树形折叠菜单样式**/
.menu {
	position: absolute;
	top: 58px;
	bottom: 0;
	left: 0;
	width: 199px;
	overflow: auto;
	background-color: rgba(238, 238, 238, 0.98);
	border-right: 1px solid #e5e5e5;
	float: left;
	border-radius:4px;
}
.menu .list-group{
	margin-bottom: 0px;
}

.menu .list-group li{
	padding: 12px 15px;
	max-width: 360px;
	margin: 0px auto;
	background: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: '微软雅黑';
}

.menu .list-group .oneli:hover{
	padding: 12px 15px;
	max-width: 360px;
	margin: 0px auto;
	background: #F8F8F8;
	color: #b63b4d;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: '微软雅黑';
}

.menu .list-group .twoli:hover{
	background: #F8F8F8;
	color: #b63b4d;
}


.menu .list-group li div{
	font-size: 15px;
}


.mainCtrl {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.aside {
	position: absolute;
	top: 58px;
	bottom: 0;
	left: 199px;
	right: 0;
	border-radius:4px;
}

.aside nav {
	border-radius:4px;
	color: rgb(115, 115, 115);
	height: 35px;
	line-height: 35px;
	padding-left: 15px;
	overflow: hidden;
	position: relative;
	background: #efeef0;
	border-bottom: 1px solid #a8a7a9;
}