<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfdor.dao.MenuDao">
    <!-- 加载菜单 -->
    <select id="getMenu" parameterType="java.util.HashMap" resultType="com.tfdor.domain.manage.Menu">
        SELECT DISTINCTROW m.MENUID,m.MENUNAME,m.PARENTID,m.ORDERID,m.TRANSID,m.CREATETIME,r.channelId
        FROM MENU m,role r,rolemenurelate u
        WHERE u.MenuId = m.MenuId and r.RoleSeq = u.RoleSeq and m.PARENTID = #{parentId}
        <if test="roleSeq != null">
            and r.roleSeq = #{roleSeq}
        </if>
        <if test="channelId != null">
            and r.channelId = #{channelId}
        </if>
        ORDER BY ORDERID ASC
    </select>
</mapper>
