<div class="wrapper" ng-controller="LoginCtrl">
	<div class="container">
		<h1 style="color:#FFFFFF">Welcome</h1>
		<form class="form" ng-submit="doIt();">
			<input type="text" placeholder="用户名" name="userId" ng-model="userId"/>
			<input type="password" placeholder="密码" name="password" ng-model="password"/>
			<button type="submit">登 陆</button>
		</form>
	</div>
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>