<div class="wrapper" ng-controller="LoginCtrl">
	<div class="container">
		<h1>Welcome</h1>
		<form class="form" ng-submit="doIt();">
			<input type="text" placeholder="UserId" name="userId" ng-model="userId"/>
			<input type="password" placeholder="Password" name="password" ng-model="password"/>
			<button type="submit">Login</button>
		</form>
	</div>
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>