<ion-view view-title="首页" ng-controller="HomeCtrl">
    <ion-content>
        <ion-slide-box auto-play="true" does-continue="true"
                       slide-interval=4000 show-pager="true" pager-click="pageClick(index)"
                       active-slide="model.activeIndex" delegate-handle="delegateHandler" ng-click="coverFlowClick()">
            <ion-slide>
                <div class="box"><img src="images/1.jpg" class="advertisement"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/2.jpg" class="advertisement"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/3.jpg" class="advertisement"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/4.jpg" class="advertisement"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/5.jpg" class="advertisement"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/6.jpg" class="advertisement"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/7.jpg" class="advertisement"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/8.jpg" class="advertisement"></div>
            </ion-slide>
        </ion-slide-box>
        <div class="nav">
            <ul class="nav_list">
                <li><img src="images/all.png"><span>关于我们</span></li>
                <li><img src="images/all.png"><span>产品展示</span></li>
                <li><img src="images/all.png"><span>厂房设备</span></li>
                <li><img src="images/all.png"><span>企业动态</span></li>
                <li><img src="images/all.png"><span>施工交流</span></li>
                <li><img src="images/all.png"><span>联系我们</span></li>
                <li><img src="images/all.png"><span>一键导航</span></li>
                <li><img src="images/all.png"><span>加入我们</span></li>
            </ul>
        </div>
    </ion-content>
</ion-view>


