<!-- tab菜单栏 -->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="首页" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tabs/home">
        <ion-nav-view name="tabs_home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="社区" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tabs/chats">
        <ion-nav-view name="tabs-chats"></ion-nav-view>
    </ion-tab>
    <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tabs/account">
        <ion-nav-view name="tabs-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>
