<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  -->
<!-- 	xmlns="http://java.sun.com/xml/ns/javaee"  -->
<!-- 	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"  -->
<!-- 	id="WebApp_ID" version="3.0"> -->
<web-app version="2.5" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>com.tlc.marketing.web</display-name>
	<welcome-file-list>
	  	<welcome-file>login.html</welcome-file>
	  	<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
	  	<param-name>contextConfigLocation</param-name>
	  	<param-value>classpath:application-common.xml</param-value>
	</context-param>
	<context-param>
	  	<param-name>webAppRootKey</param-name>
	  	<param-value>springmvc.root</param-value>
	</context-param>
	<filter>
	  	<filter-name>SpringEncodingFilter</filter-name>
	  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	  	<init-param>
	   		<param-name>encoding</param-name>
	    	<param-value>UTF-8</param-value>
	  	</init-param>
	  	<init-param>
	    	<param-name>forceEncoding</param-name>
	    	<param-value>true</param-value>
	  	</init-param>
	</filter>
	<filter-mapping>
	  	<filter-name>SpringEncodingFilter</filter-name>
	  	<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
	  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
	  	<servlet-name>dispatcherServlet</servlet-name>
	  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	  	<init-param>
	    	<param-name>contextConfigLocation</param-name>
	    	<param-value>classpath:springmvc/application-*.xml,classpath:service/*.xml</param-value>
	  	</init-param>
	  	<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
	  	<servlet-name>dispatcherServlet</servlet-name>
	  	<url-pattern>/</url-pattern>
	</servlet-mapping>
	<context-param>
	  	<param-name>log4jConfigLocation</param-name>
	  	<param-value>classpath:config/log4j.xml</param-value>
	</context-param>
	<listener>
	  	<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<error-page>
	  	<error-code>404</error-code>
	  	<location>/WEB-INF/errorpage/404.jsp</location>
	</error-page>
	<error-page>
	  	<error-code>405</error-code>
	  	<location>/WEB-INF/errorpage/405.jsp</location>
	</error-page>
	<error-page>
	  	<error-code>500</error-code>
	  	<location>/WEB-INF/errorpage/500.jsp</location>
	</error-page>
	<!-- session超时时间配置 -->
	<session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>