<div class="wrapper"  ng-controller="restPasdCtrl">
    <div class="container">
        <h4 style="color:#FFFFFF">第一次登陆，请重新设置密码</h4>
        <form class="form" ng-submit="doIt();">
            <input type="password" placeholder="输入新密码" ng-model="password"/>
            <input type="password" placeholder="输入确认密码" ng-model="confirmPassword"/>
            <button type="submit">确认</button>
        </form>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>