<div ng-controller="mainCtrl" class="mainCtrl">
    <header class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="Main">后台管理系统</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a>
                    <time></time>
                </a></li>
                <li><a>当前用户: {{_userName}}</a></li>
                <li>&nbsp;</li>
                <li><a><button class="btn btn-danger btn-xs" ng-click="logout();">注销</button></a></li>
            </ul>
        </div>
    </header>
    <section class="menu">
        <ul class="list-group" ng-repeat="menu in menuList">
            <li class="list-group-item oneli" ng-click="menuOne(menu.menuOne);showMain(menu.menuIdOne);" style="cursor: pointer;">
                <div>{{menu.menuOne}}</div>
            </li>
            <li class="list-group-item groupLi" style="padding: 0px 0px;display: none;" id="mainId{{menu.menuIdOne}}">
                <ul class="list-group" style="padding: 0px;">
                    <li class="list-group-item twoli" style="padding: 10px 15px; border-top:0px;border-left:0px;border-right:0px;cursor: pointer" ng-click="menuTwo(var.name);" ui-sref=".{{var.url}}" ng-repeat="var in menu.menuTwo">
                        <div style="padding-left: 20px;">{{var.name}}</div>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <aside class="aside">
        <ol class="breadcrumb" ng-show="menuOne1 != null">
            <li>您当前位置:</li>
            <li><a href="">{{menuOne1}}</a></li>
            <li ng-show="menuTwo1 != null"><a href="">{{menuTwo1}}</a></li>
            <li ng-show="menuThree1 != null" class="active">{{menuThree1}}</li>
        </ol>
        <!-- 主要内容 -->
        <div ui-view></div>
    </aside>
</div>