<div ng-controller="audiDetailsCtrl">
    <div class="table-responsive" style="margin-top: 10px;">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th width="20%" class="text-center">待审核交易</th>
                <th width="20%" class="text-center">审核发起人</th>
                <th width="20%" class="text-center">发起时间</th>
                <th width="20%" class="text-center">审核状态</th>
                <th width="20%" class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in auditingList">
                <td class="text-center"><a href="" ng-click="">{{row.auditingName}}</a></td>
                <td class="text-center">{{row.promoter}}</td>
                <td class="text-center">{{row.createTime}}</td>
                <td class="text-center">{{row.state | sysCode : 'auditingState'}}</td>
                <td class="text-center">
                    <button class="btn btn-primary btn-xs">同意</button>
                    <button class="btn btn-danger btn-xs">拒绝</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>