<div ng-controller="addQrcodeCtrl">
    <div style="width: 50%;margin-left:40px;">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th width="40%" class="text-center"><span style="color:rgb(0, 139, 255);">*</span>二维码类型</th>
                <td width="60%" class="text-left">
                    <input type="radio" name="actionName" ng-model="actionName" value="QR_LIMIT_STR_SCENE" ng-checked="true" required/>&nbsp;永久二维码 &nbsp;&nbsp;&nbsp;
                    <input type="radio" name="actionName" ng-model="actionName" value="QR_SCENE">&nbsp;零时二维码
                </td>
            </tr>
            <tr ng-show="isMerch">
                <th width="40%" class="text-center"><span style="color:rgb(0, 139, 255);">*</span>选择商户</th>
                <td width="60%" class="text-left">
                    <select class="form-control btn-sm seStyle" ng-model="merchant" ng-options="merchant.mchName for merchant in merchantList">
                        <option value="">请选择商户</option>
                    </select>
                </td>
            </tr>
            <tr ng-show="actionName == 'QR_SCENE'">
                <th width="40%" class="text-center"><span style="color:rgb(0, 139, 255);">*</span>有效时间(天)</th>
                <td width="60%" class="text-left"><input type="number" style="width: 80%" ng-model="expireSeconds" placeholder="输入1-30之间的数字"></td>
            </tr>
            <tr>
                <th width="40%" class="text-center"><span style="color:rgb(0, 139, 255);">*</span>二维码生效时间</th>
                <td width="60%" class="text-left"><input type="text" class="Wdate" style="width: 80%" placeholder="选择二维码生效时间" id="beginDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'endDate\')}'})"/></td>
            </tr>
            <tr>
                <th width="40%" class="text-center"><span style="color:rgb(0, 139, 255);">*</span>二维码失效时间</th>
                <td width="60%" class="text-left"><input type="text" class="Wdate" style="width: 80%" placeholder="选择二维码失效时间" id="endDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'beginDate\')}'})"/></td>
            </tr>
            <tr>
                <th width="40%" class="text-center"><span style="color:rgb(0, 139, 255);">*</span>生成二维码数量</th>
                <td width="60%" class="text-left"><input type="number" style="width: 80%" ng-model="number" placeholder="请填写生成二维码数量"></td>
            </tr>
            <tr>
                <th width="40%" class="text-center"><span style="color:rgb(0, 139, 255);">*</span>状态</th>
                <td width="60%" class="text-left">
                    <input type="radio" name="state" value="N" ng-checked="true" ng-model="state">&nbsp;启用 &nbsp;&nbsp;&nbsp;
                    <input type="radio" name="state" value="H" ng-model="state">&nbsp;关闭 &nbsp;&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="text-center"><span style="color:rgb(0, 139, 255);">*</span>指定复合人</td>
                <td>
                    <select class="form-control  btn-sm seStyle" ng-model="person" ng-options="x.userName for x in auditPerson">
                        <option value="">选择复合人</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="button" class="btn btn-info btn-sm" ng-click="doIt();">确 认</button>
                </td>
            </tr>
        </table>
    </div>
</div>